.add-edit-contact {
    .add-edit-title {
        padding: 20px 0;
        .back-btn {
            text-align: end;
        }
    }
    .submit-btn{
        padding: 6px 0;
        text-align: end;
    }
}