.contact-list {
    .heading-section {
        padding: 20px 0;

        .back-btn {
            text-align: end;
        }

        .cursor-pointer {
            cursor: pointer;
        }
    }
    .list-view-map-btn{
        margin-left: 8px;
        @media (max-width: 767px) {
            margin-left: 0;
            margin-top: 6px;
          }
    }
}