.footer-copyright{
    padding: 25px 0;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    margin-top: 10px;
    @media (max-width: 767px) {
      padding: 18px 0;
    }
    .copyright-text p {
        margin: 0;
        font-size: 14px;
        color: #878787;
      }
      .footer-menu ul{
        margin-bottom: 0;
        padding-left: 0;
      }
      .footer-menu li {
        display: inline-block;
        margin-left: 20px;
      }
      .footer-menu li a {
        font-size: 14px;
        color: #878787;
      }
}